@{
    ViewData["Title"] = "About";
}
<body id="body3">
    <h2>Här finns inget vettigt</h2>


    <img src="https://thumbs.gfycat.com/AdmirableCelebratedAndalusianhorse-size_restricted.gif" style="width: 30%;border: 20px solid white; border-radius:20px;"/>
    <br />
    <img src="https://media1.tenor.com/images/6bf658d3c1df80990a0817b417b78155/tenor.gif?itemid=10503435" style="width: 30%; height: 200px; border: 20px solid white; border-radius:20px;"/>


</body>