@{
    ViewData["Title"] = "Home Page";
}

<body id="body2">
<div class="typewriter" style="text-align:center; margin: 20%;">

    <h1>MVC Project</h1>
    <h1>Magnus - KG - Alexander</h1>


</div>
<br />
<br />
<br />
    
</body>