a {
    color: darkcyan;
   
}

#navlinks {
    background-color: #343a40;
    border-radius: 5px;
}
    #navlinks.selected {
        background-color: black;
    }

Avabutton{

    color: black;
}

#body2 {
    padding-top: 50px;
    padding-bottom: 20px;
    animation: colorchange 10ms;
    -webkit-animation: colorchange 10s;
    background-color: red;

}
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        color: white;
        background-color: darkslategray;
    }

.navbar {
    background-color: #343a40;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    
    .carousel-caption {
        display: none;
    }
}

@keyframes colorchange {
    0% {
        background: red;
    }

    25% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    75% {
        background: green;
    }

    100% {
        background: red;
    }
}

@-webkit-keyframes colorchange
{
    0% {
        background: red;
    }

    25% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    75% {
        background: green;
    }

    100% {
        background: red;
    }
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}